In [2]:
from mplsoccer import Sbopen

parser = Sbopen()

# competition data
df_competition = parser.competition()
df_competition.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-07-15T14:15:54.671676,2024-07-15T14:17:00.877356,2024-07-15T14:17:00.877356,2024-07-15T14:15:54.671676
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-06-13T07:51:02.452825,None,None,2024-06-13T07:51:02.452825
3,16,4,Europe,Champions League,male,False,False,2018/2019,2024-06-12T07:44:38.559714,2021-06-13T16:17:31.694,None,2024-06-12T07:44:38.559714
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882

In [4]:
# match data
df_match = parser.match(competition_id=9, season_id=281)
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         34 non-null     int64
 1   match_date                       34 non-null     datetime64[ns]
 2   kick_off                         34 non-null     datetime64[ns]
 3   home_score                       34 non-null     int64
 4   away_score                       34 non-null     int64
 5   match_status                     34 non-null     object
 6   match_status_360                 34 non-null     object
 7   last_updated                     34 non-null     datetime64[ns]
 8   last_updated_360                 34 non-null     datetime64[ns]
 9   match_week                       34 non-null     int64
 10  competition_id                   34 non-null     int64
 11  country_name                     34 non-null     object
 12  competition_name                 34 non-null     object
 13  season_id                        34 non-null     int64
 14  season_name                      34 non-null     object
 15  home_team_id                     34 non-null     int64
 16  home_team_name                   34 non-null     object
 17  home_team_gender                 34 non-null     object
 18  home_team_group                  0 non-null      object
 19  home_team_country_id             34 non-null     int64
 20  home_team_country_name           34 non-null     object
 21  home_team_managers_id            34 non-null     int64
 22  home_team_managers_name          34 non-null     object
 23  home_team_managers_nickname      34 non-null     object
 24  home_team_managers_dob           34 non-null     datetime64[ns]
 25  home_team_managers_country_id    34 non-null     int64
 26  home_team_managers_country_name  34 non-null     object
 27  away_team_id                     34 non-null     int64
 28  away_team_name                   34 non-null     object
 29  away_team_gender                 34 non-null     object
 30  away_team_group                  0 non-null      object
 31  away_team_country_id             34 non-null     int64
 32  away_team_country_name           34 non-null     object
 33  away_team_managers_id            34 non-null     int64
 34  away_team_managers_name          34 non-null     object
 35  away_team_managers_nickname      34 non-null     object
 36  away_team_managers_dob           34 non-null     datetime64[ns]
 37  away_team_managers_country_id    34 non-null     int64
 38  away_team_managers_country_name  34 non-null     object
 39  metadata_data_version            34 non-null     object
 40  metadata_shot_fidelity_version   34 non-null     object
 41  metadata_xy_fidelity_version     34 non-null     object
 42  competition_stage_id             34 non-null     int64
 43  competition_stage_name           34 non-null     object
 44  stadium_id                       34 non-null     int64
 45  stadium_name                     34 non-null     object
 46  stadium_country_id               34 non-null     int64
 47  stadium_country_name             34 non-null     object
 48  referee_id                       34 non-null     int64
 49  referee_name                     34 non-null     object
 50  referee_country_id               34 non-null     int64
 51  referee_country_name             34 non-null     object
dtypes: datetime64[ns](6), int64(19), object(27)
memory usage: 13.9+ KB

In [18]:
# get match_id from first match
first_match_id = df_match.iloc[0]['match_id']

# get lineup data for first match
df_lineup = parser.lineup(first_match_id)
df_lineup

# get all Belgian players
df_belgian_players = df_lineup[df_lineup['country_name'] == 'Belgium']
df_belgian_players

,player_id,player_name,player_nickname,jersey_number,match_id,team_id,team_name,country_id,country_name
26,21865,Senne Lynen,Senne Lynen,14,3895302,176,Werder Bremen,22,Belgium
28,24179,Olivier Deman,Olivier Deman,2,3895302,176,Werder Bremen,22,Belgium

In [35]:
df_event, df_related, df_freeze, df_tactics = parser.event(first_match_id)
df_event.info()

# show events where "dribble_nutmeg" is not null
nutmeg_events = df_event[df_event['dribble_nutmeg'].notna()]

# make a list of all player names that nutmegged someone
nutmeg_players = nutmeg_events['player_name'].unique()
nutmeg_players

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4223 entries, 0 to 4222
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              4223 non-null   object
 1   index                           4223 non-null   int64
 2   period                          4223 non-null   int64
 3   timestamp                       4223 non-null   object
 4   minute                          4223 non-null   int64
 5   second                          4223 non-null   int64
 6   possession                      4223 non-null   int64
 7   duration                        3068 non-null   float64
 8   match_id                        4223 non-null   int64
 9   type_id                         4223 non-null   int64
 10  type_name                       4223 non-null   object
 11  possession_team_id              4223 non-null   int64
 12  possession_team_name            4223 non-null   object
 13  play_pattern_id                 4223 non-null   int64
 14  play_pattern_name               4223 non-null   object
 15  team_id                         4223 non-null   int64
 16  team_name                       4223 non-null   object
 17  tactics_formation               4 non-null      object
 18  player_id                       4209 non-null   float64
 19  player_name                     4209 non-null   object
 20  position_id                     4209 non-null   float64
 21  position_name                   4209 non-null   object
 22  pass_recipient_id               1156 non-null   float64
 23  pass_recipient_name             1156 non-null   object
 24  pass_length                     1172 non-null   float64
 25  pass_angle                      1172 non-null   float64
 26  pass_height_id                  1172 non-null   float64
 27  pass_height_name                1172 non-null   object
 28  end_x                           2235 non-null   float64
 29  end_y                           2235 non-null   float64
 30  body_part_id                    1201 non-null   float64
 31  body_part_name                  1201 non-null   object
 32  sub_type_id                     240 non-null    float64
 33  sub_type_name                   240 non-null    object
 34  x                               4193 non-null   float64
 35  y                               4193 non-null   float64
 36  under_pressure                  831 non-null    float64
 37  outcome_id                      407 non-null    float64
 38  outcome_name                    407 non-null    object
 39  counterpress                    118 non-null    float64
 40  out                             17 non-null     float64
 41  aerial_won                      15 non-null     object
 42  off_camera                      45 non-null     float64
 43  pass_switch                     21 non-null     object
 44  pass_cross                      22 non-null     object
 45  shot_statsbomb_xg               27 non-null     float64
 46  shot_first_time                 9 non-null      object
 47  technique_id                    50 non-null     float64
 48  technique_name                  50 non-null     object
 49  goalkeeper_position_id          27 non-null     float64
 50  goalkeeper_position_name        27 non-null     object
 51  pass_assisted_shot_id           18 non-null     object
 52  pass_shot_assist                14 non-null     object
 53  end_z                           17 non-null     float64
 54  shot_key_pass_id                18 non-null     object
 55  injury_stoppage_in_chain        1 non-null      object
 56  foul_won_defensive              6 non-null      object
 57  ball_recovery_recovery_failure  4 non-null      object
 58  foul_committed_advantage        3 non-null      object
 59  foul_won_advantage              3 non-null      object
 60  pass_deflected                  3 non-null      object
 61  block_deflection                2 non-null      object
 62  foul_committed_penalty          1 non-null      object
 63  foul_won_penalty                1 non-null      object
 64  foul_committed_card_id          1 non-null      float64
 65  foul_committed_card_name        1 non-null      object
 66  block_save_block                1 non-null      object
 67  shot_one_on_one                 2 non-null      object
 68  substitution_replacement_id     8 non-null      float64
 69  substitution_replacement_name   8 non-null      object
 70  bad_behaviour_card_id           2 non-null      float64
 71  bad_behaviour_card_name         2 non-null      object
 72  pass_cut_back                   1 non-null      object
 73  pass_goal_assist                4 non-null      object
 74  dribble_nutmeg                  1 non-null      object
dtypes: float64(25), int64(10), object(40)
memory usage: 2.4+ MB

array(['Leonardo Bittencourt'], dtype=object)