In [1]:
import pathlib
import os
import pandas as pd
import json

In [7]:
# COMPETITIONS DATA
notebook_dir = pathlib.Path().absolute()
competitions_path = os.path.join(notebook_dir.parent, "wyscout-data", "competitions.json")

with open(competitions_path) as f:
    competitions = json.load(f)

df_competitions = pd.DataFrame(competitions)
df_competitions

,name,wyId,format,area,type
0,Italian first division,524,Domestic league,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",club
1,English first division,364,Domestic league,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
2,Spanish first division,795,Domestic league,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,French first division,412,Domestic league,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
4,German first division,426,Domestic league,"{'name': 'Germany', 'id': '276', 'alpha3code':...",club
5,European Championship,102,International cup,"{'name': '', 'id': 0, 'alpha3code': 'XEU', 'al...",international
6,World Cup,28,International cup,"{'name': '', 'id': 0, 'alpha3code': 'XWO', 'al...",international

In [16]:
# MATCHES DATA
matches_path = os.path.join(notebook_dir.parent, "wyscout-data", "matches", "matches_England.json")

with open(matches_path) as f:
    matches = json.load(f)

df_matches = pd.DataFrame(matches)
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         380 non-null    object
 1   roundId        380 non-null    int64
 2   gameweek       380 non-null    int64
 3   teamsData      380 non-null    object
 4   seasonId       380 non-null    int64
 5   dateutc        380 non-null    object
 6   winner         380 non-null    int64
 7   venue          380 non-null    object
 8   wyId           380 non-null    int64
 9   label          380 non-null    object
 10  date           380 non-null    object
 11  referees       380 non-null    object
 12  duration       380 non-null    object
 13  competitionId  380 non-null    int64
dtypes: int64(6), object(8)
memory usage: 41.7+ KB